<!-- BEGIN .content -->
<div class="content">
	
	<!-- BEGIN .wrapper -->
	<div class="wrapper">

		<h2>Üye Olun</h2>

		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field">
		    <%= f.label :name %><br />
		    <%= f.text_field :name, autofocus: true %>
		  </div>

		  <div class="field">
		    <%= f.label :avatar %><br />
		    <%= f.file_field :avatar %>
		  </div>

		  <div class="field">
		    <%= f.label :email %><br />
		    <%= f.email_field :email %>
		  </div>

		  <div class="field">
		    <%= f.label :password %>
		    <% if @minimum_password_length %>
		    <em>(minimum <%= @minimum_password_length %> karakter)</em>
		    <% end %><br />
		    <%= f.password_field :password, autocomplete: "off" %>
		  </div>

		  <div class="field">
		    <%= f.label :password_confirmation %><br />
		    <%= f.password_field :password_confirmation, autocomplete: "off" %>
		  </div>

		  <div class="actions">
		    <%= f.submit "Kayıt Ol", class: 'button' %>
		  </div>
		<% end %>

		<%= render "devise/shared/links" %>

	<!-- END .wrapper -->
	</div>
	
<!-- END .content -->
</div>
