<%#= @news.tags.all.map{|a| a.name}.split(',') %>

<%
set_meta_tags og: {
  title: @news.title,
  type: 'news',
  url: 'view-source:' + request.original_url,
  image: URI.join(request.url, @news.image.url)
}
%>

			<!-- BEGIN .content -->
			<div class="content">
				
				<!-- BEGIN .wrapper -->
				<div class="wrapper">
					
					<div class="ad-banner">
						<a href="contact-us.html" class="ad-link top"><span class="icon-text">&#9662;</span>Reklam<span class="icon-text">&#9662;</span></a>
						<a href="#" target="_blank"><img src="/assets/allegro/no-banner-728x90.jpg" alt="" /></a>
					</div>

					<div class="main-content">

						<div class="full-width">
							
							<div class="article-title">
								<div class="share-block right">
									<div>
										<div class="share-article left">
											<span>Sosyal Medya</span>
											<strong>Haberi paylaş</strong>
										</div>
										<div class="left">
											<a href="#" class="custom-soc icon-text">&#62217;</a>
											<a href="#" class="custom-soc icon-text">&#62220;</a>
											<a href="#" class="custom-soc icon-text">&#62223;</a>
											<a href="#" class="custom-soc icon-text">&#62226;</a>
											<a href="#" class="custom-soc icon-text">&#62232;</a>
										</div>
										<div class="clear-float"></div>
									</div>
									<div>
										<a href="javascript:printArticle();" class="small-button"><span class="icon-text">&#59158;</span>&nbsp;&nbsp;Haberi yazdır</a>
										<a href="#" class="small-button"><span class="icon-text">&#9993;</span>&nbsp;&nbsp;E-posta gönder</a>
									</div>
								</div>

								<h1><%= @news.title %></h1>
								<div class="author">
									<span class="hover-effect left"><%= image_tag @news.user.avatar.url(:small), alt: @news.user.name %></span>
									<div class="a-content">
										<span><b><%= @news.user.name %></b> yazdı</span>
										<span class="meta">
											<%= @news.created_at.to_formatted_s(:nice) %>
											<% if @news.created_at != @news.updated_at %>
											<span class="tag">Güncellendi</span></span>
											<% end %>
										</span>
									</div>
								</div>
							</div>

						</div>

						<!-- BEGIN .main-page -->
						<div class="main-page left">

							<!-- BEGIN .single-block -->
							<div class="single-block">
								
								<!-- BEGIN .content-block -->
								<div class="content-block main left">
									
									<div class="block">
										<div class="block-content">
												
											<p><span class="hover-effect"><%= image_tag @news.image.url(:large), alt: @news.title %></span></p>
											
											<div class="shortcode-content">

												<div class="paragraph-row">
													<div class="column3">
														<h3 class="highlight-title">İlginizi Çekebilir</h3>
														<ul>
															<% @related_news.each do |news| %>
															<li><%= link_to news.title, news_path(news) %><a href="#" class="h-comment">32</a></li>
															<% end %>
														</ul>
													</div>
													<div class="column9">
														<p><b><%= @news.description %></b></p>
														<p><%= simple_format(@news.body) %></p>
													</div>
												</div>

												<div class="article-title">
													<div class="share-block right">
														<div>
															<div class="share-article left">
																<span>Sosyal Medya</span>
																<strong>Haberi paylaş</strong>
															</div>
															<div class="left">
																<a href="#" class="custom-soc icon-text">&#62217;</a>
																<a href="#" class="custom-soc icon-text">&#62220;</a>
																<a href="#" class="custom-soc icon-text">&#62223;</a>
																<a href="#" class="custom-soc icon-text">&#62226;</a>
																<a href="#" class="custom-soc icon-text">&#62232;</a>
															</div>
															<div class="clear-float"></div>
														</div>
														<div>
															<a href="javascript:printArticle();" class="small-button"><span class="icon-text">&#59158;</span>&nbsp;&nbsp;Haberi yazdır</a>
															<a href="#" class="small-button"><span class="icon-text">&#9993;</span>&nbsp;&nbsp;E-posta gönder</a>
														</div>
													</div>

													<div class="author">
														<span class="hover-effect left"><%= image_tag @news.user.avatar.url(:small), alt: @news.user.name %></span>
														<div class="a-content">
															<span><b><%= @news.user.name %></b> yazdı</span>
															<span class="meta">
																<%= @news.created_at.to_formatted_s(:nice) %>
																<% if @news.created_at != @news.updated_at %>
																<span class="tag">Güncellendi</span></span>
																<% end %>
															</span>
														</div>
													</div>

													<div class="article-tags tag-cloud">
														<strong>ETİKETLER:</strong>
														<% @news.tags.each do |tag| %>
														<a href="#"><%= tag.name %></a>
														<% end %>
													</div>
												</div>

											</div>

										</div>

										<div class="block-title">
											<a href="#writecomment" class="right">Write a comment</a>
											<h2>4 Comments</h2>
										</div>
										<div class="block-content">

											<div class="comment-block">
												
												<ol class="comments">
													<li>
														<div class="commment-content">
															<div class="user-avatar">
																<a href="#" class="hover-effect"><img src="/assets/allegro/photos/avatar-4.jpg" class="setborder" alt="" title="" /></a>
															</div>
															<strong class="user-nick"><a href="#">Ignasi Cleto</a></strong>
															<span class="time-stamp">April 25, 12:53</span>
															<div class="comment-text">
																<p>Usu inani perfecto quaestio in, id usu paulo eruditi salutandi. In eros prompta dolores nec, ut pro causae conclusionemque. In pro elit mundi dicunt. No odio diam interpretaris pri.</p>
															</div>
															<a href="#" class="icon-link"><span class="icon-text">&#59154;</span><span>Reply to this comment</span></a>
														</div>
														<ul>
															<li>
																<div class="commment-content">
																	<div class="user-avatar">
																		<a href="#" class="hover-effect"><img src="/assets/allegro/photos/avatar-5.jpg" class="setborder" alt="" title="" /></a>
																	</div>
																	<strong class="user-nick"><a href="#">Orange-Themes</a><span class="marker">Author</span></strong>
																	<span class="time-stamp">April 25, 12:53</span>
																	<div class="comment-text">
																		<p>Ad est audire imperdiet. Cum an docendi assentior. Usu inani perfecto quaestio in, id usu paulo eruditi salutandi. In eros prompta dolores nec, ut pro causae conclusionemque. In pro elit mundi dicunt. No odio diam interpretaris pri.</p>
																	</div>
																	<a href="#" class="icon-link"><span class="icon-text">&#59154;</span><span>Reply to this comment</span></a>
																</div>
															</li>
															<li>
																<div class="commment-content">
																	<div class="user-avatar">
																		<a href="#" class="hover-effect"><img src="/assets/allegro/photos/avatar-6.jpg" class="setborder" alt="" title="" /></a>
																	</div>
																	<strong class="user-nick"><a href="#">Tatius Eugenio</a></strong>
																	<span class="time-stamp">April 25, 12:53</span>
																	<div class="comment-text">
																		<p>Has possit definiebas ne. Sed dico consul ut. Eu labore efficiantur pro. Sed legimus probatus pericula ea, cum oratio labitur concludaturque ne. Mei cu viris moderatius.</p>
																	</div>
																	<a href="#" class="icon-link"><span class="icon-text">&#59154;</span><span>Reply to this comment</span></a>
																</div>
															</li>
														</ul>
													</li>
													<li>
														<div class="commment-content">
															<div class="user-avatar">
																<span class="hover-effect"><img src="/assets/allegro/photos/avatar-7.jpg" class="setborder" alt="" title="" /></span>
															</div>
															<strong class="user-nick">Ignasi Cleto</strong>
															<span class="time-stamp">April 25, 12:53</span>
															<div class="comment-text">
																<p>Usu inani perfecto quaestio in, id usu paulo eruditi salutandi. In eros prompta dolores nec, ut pro causae conclusionemque. In pro elit mundi dicunt. No odio diam interpretaris pri.</p>
															</div>
															<a href="#" class="icon-link"><span class="icon-text">&#59154;</span><span>Reply to this comment</span></a>
														</div>
													</li>
												</ol>

											</div>

										</div>

										<div class="block-title">
											<a href="#writecomment" class="right">View all comments</a>
											<h2>Write a comment</h2>
										</div>
										<div class="block-content">
											<div id="writecomment">

												<form action="#" method="get">

													<div class="coloralert" style="background: #a12717;">
														<p>Error Occurred!</p>
														<a href="#close-alert" class="icon-text">&#10006;</a>
													</div>
													<!-- <div class="coloralert" style="background: #68a117;">
														<p>Success!</p>
														<a href="#close-alert" class="icon-text">&#10006;</a>
													</div> -->

													<p>Your e-mail address will not be published.<br/>Required fields are marked<span class="required">*</span></p>

													<p class="contact-form-user">
														<label for="c_name">Nickname<span class="required">*</span></label>
														<input type="text" class="error" placeholder="Nickname" name="c_name" id="c_name" />
														<span class="error-msg"><span class="icon-text">&#9888;</span>&nbsp;&nbsp;This is an error message</span>
													</p>
													<p class="contact-form-email">
														<label for="c_email">E-mail<span class="required">*</span></label>
														<input type="text" placeholder="E-mail" name="c_email" id="c_email" />
													</p>
													<p class="contact-form-webside">
														<label for="c_webside">Website</label>
														<input type="text" placeholder="Website" name="c_webside" id="c_webside" />
													</p>
													<p class="contact-form-message">
														<label for="c_message">Comment<span class="required">*</span></label>
														<textarea name="c_message" placeholder="Your message.." id="c_message"></textarea>
													</p>
													<p><input type="submit" class="styled-button" value="Post a Comment" /></p>
												</form>
												
											</div>
										</div>

									</div>

								<!-- END .content-block -->
								</div>

							<!-- END .single-block -->
							</div>

						<!-- END .main-page -->
						</div>
						
						<!-- BEGIN .main-sidebar -->
						<div class="main-sidebar right">
							
							<!-- BEGIN .widget -->
							<div class="widget">
								<a href="#" target="_blank"><img src="/assets/allegro/no-banner-300x250.jpg" alt="" /></a>
								<a href="contact-us.html" class="ad-link"><span class="icon-text">&#9652;</span>Advertisement<span class="icon-text">&#9652;</span></a>
							<!-- END .widget -->
							</div>
							
							<%= render 'rightbar' %>

						<!-- END .main-sidebar -->
						</div>

						<div class="clear-float"></div>

					</div>
					
				<!-- END .wrapper -->
				</div>
				
			<!-- END .content -->
			</div>